/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input::-ms-clear{
	display: none;
}

a{
	color: #fff;
}
button::-moz-focus-inner{
	padding: 0;
	border: 0;
}
/*------------*/






body{
    font-family: 'Montserrat', sans-serif;
    background-color: #0E0E2C;
	color: #fff;
	 /* overflow: hidden; чтобы убрать горизонтальный скроп*/   
}
.container{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 15px;
	padding-bottom: 15px;
}
/*//////////////////////////////header///////////////////////////////////*/
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 130px auto;
	padding: 35px 15px 0px 15px;
}
/*////////////////////////////burger//////////////////////////////////////*/
.burger-menu{
	width: 25px;
	height: 25px;
	display: none; /*не показываем*/
}
.burger-button{
	position: relative;
	width: 25px;
	height: 30px;
	cursor: pointer;
}

.burger-button::before, .burger-button::after{
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #FFBE0B;
}
.burger-button::after{
	bottom: 20%;
	left: 0;
}

.burger-button::before{
	top: 20%;
	left: 0;
}

.burger-button span{
	position: absolute;
	width: 25px;
	height: 2px;
	top: 48%;
	left: 0;
	background-color: #FFBE0B;
}

/*///////////////////////////navigation/////////////////////////////*/

.navigation{
	display: flex;
	align-items: center;
}
.navigation_list{
	display: flex;
	margin-right: 110px;
}
/*  .navigation_item{
	padding-left: 50px; - я обычно так делаю отступы между элементами списка
*/
.navigation_item:not(:last-child){
	margin-right: 50px;
}
/*стилизуем ссылочки и добавим им интерактива*/
.navigation_link{
	position: relative;
	font-size: 16px;
	color: #fff;
	font-weight: 400;

}
.navigation_link::before{
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	top: -50%;
	left: 10%;
	background-color: #FFBE0B;
	z-index: -1;
	border-radius: 50%;
	filter: blur(25px);
	opacity: 0;
	transition: opacity .2s linear;
}
.navigation_link:hover::before{
	opacity: 1;
}

/*отрабатываю кнопки*/
.button{
	padding: 14px 30px;
	background-color: #FFBE0B;
	border: 1px solid #FFBE0B;
	border-radius: 10px;
	color: #0E0E2C;
	font-weight: 700;
	font-size: 16px;
	transition: all .2s linear;
}
.button:hover{
	background-color: transparent;
	color: #FFBE0B;
	box-shadow: 0 0 20px #FFBE0B;
	
}
/*////////////////////////верстаем секцию, перешел в мейн//////////////////////////*/
.section{
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}
.section-pre-subtitle{
	position: relative;
	width: 55%;
}

.section-subtitle{
	margin-left: 0px;
	margin-top: 150px;
	max-width: 600px;
}
.section-pre-title{
	padding-top: 13px;
	width: 257px;
	height: 40px;
	font-weight: 400;
	font-size: 14px;
	color: #3A86FF;
	background-color: #172656;
	text-align: center;
	letter-spacing: 7.5%;
}
.section-title{
	margin-top: 5px;
	width: 550px;
	height: 162px;
	font-weight: 700;
	font-size: 62px;
	padding-left: 0px;
	padding-right: 0px;
}
.section-subscribe{
	width: 460px;
	height: 60px;
	font-size: 16px;
	color: #868695;
}
/*поле формы*/
.input__wrapper{

	width: 485px;
	height: 70px;
	border: 1px solid #626276;
	border-radius: 18px;
	
}
.input__wrapper__content{
	margin: 10px 0px auto 10px;

	
}
.form_input{
	margin-top: 15px;
	background-color: #0E0E2C;
	color: #fff;
	
}
.input__wrapper__label{
	margin-top: 9px;
}
#button_form{
	margin-left: 140px;
	position: absolute;
}
.checkbox__block{
	max-width: 485px;
	display: flex;
}
.checkbox__p{
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 35px ;
}
.checkbox{
	margin-top: 10px;
	background-color: #172656;
}
/*/////////////////////main/////////////////////////////////////////////////////////////////*/

.main{
	margin-bottom: 100px;
}
/*/////////////////////////////////////верстаю правый блок с картинкой/////////////////////*/

.picteres__content__second{
	margin-top: 250px;
	margin-left: 550px;
	padding-top: 25px;
	align-items: stretch;
	width: 192px;
	height: 250px;
	background-color: #fff;
	border-radius: 10px;
	color: black;
}
.picteres__content__inside{
	padding: 0px;
	margin-left: 25px;
	
	
}
.make_progress_img{
	margin-left: 40px;
}
.make_progress_h3{
	margin-left: 15px;
	margin-top: 10px;
	width: 132px;
	height: 32px;
	font-weight: bold;

}
.make_progress_p{
	display: inline;
	width: 106px;
	height: 20px;
	color: #838394;
}
.make_progress_a{
	margin-left: 40px;
	margin-top: 50px;
	padding-top: 10px;
	padding-left: 28px;
	width: 114px;
	height: 36px;
	color: #fff;
	background-color: #3A86FF;
	border-radius: 5px;
	font-size: 12px;

}
.make_progress_link{
	width: 53px;
	height: 22px;

	font-size: 12px;
	font-weight: 400;
	
}
/*///////////маргарет филипс/////////////////////*/

.picteres__content__first{
	width: 440px;
	margin-top: 105px;
}
.section-img-container_content{

	padding-bottom: 0px;
	margin-bottom: 30px;
	width: 440px;
	height: 233px;

}
.section-img-container_content_text{
	width: 440px;
	height: 200px;
	padding-top: 108px;
	margin: 0 auto;

}
.section-img-container_content_text_inside{
	padding-top: 35px;
	width: 440px;
	height: 125px;
	color: black;
	background-color: #fff;
	border-radius: 10px;
}

.content_h3_inside{

	margin-left: 250px;
	width: 170px;
	height: 32px;
	font-size: 18px;
	font-weight: 600;

}
.content_p_inside{
	margin-left: 250px;
	width: 151px;
	height: 22px;
	font-size: 12px;
	font-weight: 400;
	color: #838394;
}
.Philips_img{
	margin-left: 35px;

	position: absolute;
}
.content__link{
margin-left: 418px;
margin-top: 150px;
width: 45px;
height: 45px;

position: absolute;

}
/*............................объединяю три контейнера...................*/
.section-img-container{

	background: url("./pictures/illustration/mean-foto.png") 1%/cover no-repeat ;
	height: 825px;
	width: 920px;

}
/*добавляю маеленький элипс из света*/
.elipse{
	/* Ellipse 5 */
	margin-top: 100px;
	margin-right: 50px;
	border-radius: 50px;
	width: 236.94px;
	height: 236.94px;
	background: rgba(255, 190, 11, 0.5);
	filter: blur(49px);

}
.content_bottom{
	display: flex;
	justify-content: space-between;
}
/*///////////////////////////вторая часть секции//////////////////////////////////////////////////*/
.main_content_inside{
	display: flex;
	justify-content: space-between;
}
.main_content_second_img{
	margin-top: 150px;
	background: url("./pictures/illustration/phone-foto.png") 50%/cover no-repeat;
	width: 725px;
	height: 820px;
}
.main_content_second_text{
	margin-top: 200px;
}
.main_content_second_text_inside{
	width: 550px;
	height: 250px;
}
#_second_p{

}
#_second_h1{
	width: 533px;
	height: 250px;
}
.main_content_second_text_table{
	margin-top: 100px;
	width: 505px;
	height: 107px;
}
.table_one{
	align-items: center;

	border: 2px solid #626276;
	;
	border-top: none;
	border-bottom: none;
	border-left: none;
}
table{
	border-collapse: collapse;
	align-content: center;
}
#table_one_right{
	border-right: none;
	padding-left: 25px;
}
#table_one_left{
	padding-right: 15px;
}
.table_one_p{
	color: #FFBE0B;
	font-size: 38px;
	font-weight: 700;
}
.table_one_p2{
	color: #FB5607;
	font-size: 38px;
	font-weight: 700;
}
